//----------------------------------------------
// Blocks
//----------------------------------------------

$BLOCKS_GUTTER: $SITE_GUTTERS;

.blocks_lg {
    @include pxsToRems(margin, (-$BLOCKS_GUTTER) 0 0 (-$BLOCKS_GUTTER));
}

.blocks_lg > * {
    @include pxsToRems(padding, $BLOCKS_GUTTER 0 0 $BLOCKS_GUTTER);
}

.blocks_2up > * {
    width: 50%;
}

.blocks_3up > * {
    width: 33.33%;
}

.blocks_4up > * {
    width: 25%;
}