//----------------------------------------------
// Blocks
//----------------------------------------------

.blocks_2up > * {
    width: 50%;
}

.blocks_3up > * {
    width: 33.33%;
}

.blocks_4up > * {
    width: 25%;
}