//----------------------------------------------
// Nav -large
//----------------------------------------------

.nav {
    width: auto;
    height: auto;
    position: relative;
    z-index: 20 !important; // Fight isActive mobile styles
    overflow: visible;
    background: $COLOR_SECONDARY;
    opacity: 1 !important; // Fight isActive mobile styles
}

.nav-list {
    width: 100%;
    min-height: 0;
    display: table;
    margin: auto;
    @include pxsToRems(padding, 0 $SITE_GUTTERS);
    background: none;
    transform: none !important; // Fight isActive mobile styles
}

.nav-list > * {
    display: table-cell;
    text-align: center;
}

.nav-list-item:hover {
    background: darken($COLOR_PRIMARY, 10%)
}

.nav-list-menu {
    width: calc(100% - 50px);
    @include pxsToRems(min-height, 200);
    display: none;
    @include pxsToRems(padding, 25);
    position: absolute;
    top: 100%;
    @include pxsToRems(left, 25);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.nav-list > *:hover .nav-list-menu {
    display: block;
}