//----------------------------------------------
// Box
//----------------------------------------------

.box {
    @include pxsToRems(padding, 20);
    position: relative;
    background: $COLOR_FAINT;
}

.box:target {
    display: block !important;
}

.box_success {
    background: #d5efd6;
}

.box_error {
    background: #fae4e5;
}