//----------------------------------------------
// Grid
//----------------------------------------------

$GRID_GUTTER: $SITE_GUTTERS * 2;

.grid {
    @include pxsToRems(margin-left, -$GRID_GUTTER);
    @include clearfix();
}

.grid-col {
    width: 100%;
    float: left;
    @include pxsToRems(padding-left, $GRID_GUTTER);
    box-sizing: border-box;
}

.grid-col + .grid-col {
    @include pxsToRems(margin-top, 20);
}

.grid_lg .grid-col + .grid-col {
    margin-top: 0;
}