//----------------------------------------------
// Card
//----------------------------------------------

.card {
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid $COLOR_FAINT;
}

.card-hd {
    @include pxsToRems(padding, 10 20 8);
    background: linear-gradient(to right, $COLOR_PRIMARY, darken($COLOR_PRIMARY, 10%));
    color: #ffffff;
}

.card-bd {
    @include pxsToRems(padding, 20);
}