<div class="footer">
    <div class="wrapper">
        <div class="split">
            <div>
                <div class="vr">
                    <div class="hdg hdg_4">
                        We are a Family Owned Landscaping Company
                    </div>
                </div>
                <div class="vr vr_x4">
                    <p class="txt txt_sm">Since the beginning, Great American Landscaping has been a family owned landscaping company. Our family has proudly served the Glen Ellyn, IL, area with landscaping, hardscaping, and snow removal services for over a decade. Now is the time to take your property to the next level. With the trained experts at Great American Landscaping by your side, your home or business' curb appeal will skyrocket in no time.</p>
                </div>
                <ul class="hList hList_x2 hList_divided">
                    <li>
                        P: (630) 469-0707
                    </li>
                    <li>
                        E: galandscaping@yahoo.com
                    </li>
                </ul>
            </div>
            <div>
                <img src="{{ assets }}/images/shared/accredited-landscaper.png" alt="accredited landscaper, Glen Ellyn">
            </div>
        </div>
    </div>
</div>