//----------------------------------------------
// Hero
//----------------------------------------------

.hero {
    @include pxsToRems(padding, 30 0);
    position: relative;
    overflow: hidden;
    background: darken($COLOR_SECONDARY, 10%);
    background: linear-gradient(to bottom, darken($COLOR_SECONDARY, 5%), darken($COLOR_SECONDARY, 10%));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
    color: #ffffff;
}

.hero-wrapper {
    @include wrapper();
    z-index: 1;
}

.hero-wrapper-icon {
    @include pxsToRems(width, 400);
    @include pxsToRems(height, 400);
    @include pxsToRems(margin-top, -200);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero-wrapper-icon > * {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    fill: $COLOR_SECONDARY;
}