//----------------------------------------------
// Elements
//----------------------------------------------

body {
    font-family: $FONT_PRIMARY;
    font-size: $BASE_FONT_SIZE;
    line-height: $BASE_LINE_HEIGHT;
}