---
title: Contact Us
keywords: 
description:
---

<div class="hero">
    <div class="hero-wrapper">
        <h1 class="hdg hdg_1">Contact your Glen Ellyn, IL, Landscaping Company</h1>
        <div class="hero-wrapper-icon">
            <svg>
                <use xlink:href="#leaf"></use>
            </svg>
        </div>
    </div>
</div>

<div class="main" role="main">
    <div class="wrapper">
        <div class="grid">
            <div class="grid-col grid-col_main">
                <div class="story story_x2">
                    <h2 class="hdg hdg_3">Contact Great American Landscaping</h2>
                    <p>Great American Landscaping is trusted by many across the Glen Ellyn, IL, area as quality landscapers who can convert your landscaping visions into reality. From lawn care maintenance to custom brick patio design, Great American Landscaping does it all. Interested in our service? Use the contact form bellow to get in touch with a quality landscaper.</p>
                    <hr>
                    <div
                        style="display:none;"
                        tabindex="-1"
                        class="box box_success js-form-successMessage">

                        <div class="vr">
                            <div class="hdg hdg_4">Thank you for contacting Great American Landscaping</div>
                        </div>
                        <p>We appreciate the contact. You may expect a response within 24 hours.</p>
                    </div>
                    <div
                        style="display:none;"
                        tabindex="-1"
                        class="box box_error js-form-errorMessage">

                        <div class="hdg hdg_4">Oops, we encountered an error. Please try again.</div>
                    </div>
                    <form
                        action="functions/send.php"
                        class="box js-form"
                        role="form"
                        data-success-message=".js-form-successMessage"
                        data-error-message=".js-form-errorMessage"
                        novalidate>
                        <div class="vList vList_x3">
                            <div>
                                <label for="name">Name: <small>(required)</small></label>
                                <input
                                    type="text"
                                    id="name"
                                    class="input"
                                    name="name"
                                    aria-required
                                    required>
                            </div>
                            <div>
                                <label for="email">Email: <small>(required)</small></label>
                                <input
                                    type="email"
                                    id="email"
                                    class="input"
                                    name="email"
                                    aria-required
                                    required>
                            </div>
                            <div>
                                <label for="phone">Phone: <small>(required)</small></label>
                                <input
                                    type="tel"
                                    id="phone"
                                    class="input"
                                    name="phone"
                                    aria-required
                                    required>
                            </div>
                            <div>
                                <fieldset>
                                    <legend class="vr">Services of interest:</legend>
                                    <div class="hList">
                                        <div>
                                            <label for="landscaping">
                                                <input
                                                    type="checkbox"
                                                    id="landscaping"
                                                    value="landscaping"
                                                    name="services_of_interest[]"> Landscaping:
                                            </label>
                                        </div>
                                        <div>
                                            <label for="hardscaping">
                                                <input
                                                    type="checkbox"
                                                    id="hardscaping"
                                                    value="hardscaping"
                                                    name="services_of_interest[]"> Hardscaping:
                                            </label>
                                        </div>
                                        <div>
                                            <label for="snow_removal">
                                                <input
                                                    type="checkbox"
                                                    id="snow_removal"
                                                    value="snow removal"
                                                    name="services_of_interest[]"> Snow Removal:
                                            </label>
                                        </div>
                                        <div>
                                            <label for="tree_service">
                                                <input
                                                    type="checkbox"
                                                    id="tree_service"
                                                    value="tree service"
                                                    name="services_of_interest[]"> Tree Service:
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="isVisuallyHidden" aria-hidden="true">
                                <label for="referral">Refferal:</label>
                                <input
                                    type="tel"
                                    id="referral"
                                    class="input"
                                    name="referral"
                                    tabindex="-1">
                            </div>
                            <div>
                                <label for="message">Message:</label>
                                <textarea
                                    id="message"
                                    name="message"
                                    class="input input_textarea"></textarea>
                            </div>
                            <div>
                                <button class="btn btn_lg js-form-submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-col grid-col_aside">
                {{> _sidebar}}
            </div>
        </div>
    </div>
</div>