---
title: Bick Patios, Glen Ellyn, IL
---

<div class="hero">
    <div class="hero-wrapper">
        <h1 class="hdg hdg_1">Glen Ellyn, IL Brick Patios</h1>
        <div class="hero-wrapper-icon">
            <svg>
                <use xlink:href="#bricks"></use>
            </svg>
        </div>
    </div>
</div>

<div class="main" role="main">
    <div class="wrapper">
        <div class="grid">
            <div class="grid-col grid-col_main">
                <div class="story">
                    <h2 class="hdg hdg_3">Glen Ellyn, IL Patios</h2>
                    <p>Discover the perfect addition for your yard. A stylish new patio made from brick or paver stones can dramatically improve the look and feel of your yard while giving you a perfect space for barbecues and entertaining.</p>
                    <p>Do you need repairs? We’re the team to call! If you have chipped, cracked or faded masonry work around your property, we’ll be able to restore or replace any of the worn and torn areas to restore it to beauty.</p>
                    <ul class="uList">
                        <li>Brick patios</li>
                        <li>Paver stones</li>
                        <li>Retaining walls</li>
                        <li>Masonry repair</li>
                        <li>Stone work</li>
                    </ul>
                    <p class="txt txt_lg">Upgrade your backyard today with a gorgeous new paved patio from Great American Landscaping. Call 630-469-0707 for your FREE estimate.</p>
                </div>
            </div>
            <div class="grid-col grid-col_aside">
                
            </div>
        </div>
    </div>
</div>