---
title: Landscape Design, Glen Ellyn, IL
keywords: great american landscaping, landscape design, glen ellyn, wheaton
description:
---

<div class="hero">
    <div class="hero-wrapper">
        <h1 class="hdg hdg_1">Commercial and Residential Landscape Design</h1>
        <div class="hero-wrapper-icon">
            <svg>
                <use xlink:href="#leaf"></use>
            </svg>
        </div>
    </div>
</div>

<div class="main" role="main">
    <div class="wrapper">
        <div class="grid">
            <div class="grid-col grid-col_main">
                <div class="story story_x2">
                    <h2 class="hdg hdg_3">Glen Ellyn, Residential Landscape Design</h2>
                    <p>In Illinois, the summer just seems too short. It's safe to say that more time to spend outdoors would be much appreciated by all. Summer is when families get together to enjoy their outdoor living space and share a good time. Great American Landscaping is happy to accomodate those families with residential landscape design. We offer the following residential landscape design services:</p>
                    <ul class="uList">
                        <li>Brick Patios</li>
                        <li>Flower Gardens</li>
                        <li>Retaining Walls</li>
                        <li>Masonry Repair</li>
                        <li>Water Elements</li>
                    </ul>
                    <h2 class="hdg hdg_3">Commercial Landscape Design</h2>
                    <p>A commercial landscape designer you can rely on, Great American Landscaping. Throughout Glen Ellyn, IL, and the surrounding areas, businesses have entrusted Great American Landscaping with their brick work, masonry repair, landscape design, and retaining wall needs. We can customize these services to fit your exact needs! A well landscaped commercial property appeals more strongly than a poorly maintained property. So, if your commercial property needs retaining wall, landscape design, masonry repair, or brick work, then give Great American Landscaping a call today for commercial landscape design! Our prices are fair and our service superior.</p>
                </div>
            </div>
            <div class="grid-col grid-col_aside">
                {{> _sidebar}}
            </div>
        </div>
    </div>
</div>