---
title: Masonry Work, Glen Ellyn, IL
keywords: great american landscaping, masonry repair, glen ellyn, wheaton
description:
---

<div class="hero">
    <div class="hero-wrapper">
        <h1 class="hdg hdg_1">Glen Ellyn, IL, Stone Work Company</h1>
        <div class="hero-wrapper-icon">
            <svg>
                <use xlink:href="#leaf"></use>
            </svg>
        </div>
    </div>
</div>

<div class="main" role="main">
    <div class="wrapper">
        <div class="grid">
            <div class="grid-col grid-col_main">
                <div class="story story_x2">
                    <h2 class="hdg hdg_3">We Work on Stone Patios, Driveways, Walls, and Walkways</h2>
                    <p>We have over a decade experience working with stone constructions. We work on stone structures, like patios, sidewalks, driveways and walls. Whether you want a new structure build or an old structure renewed, we can handle your stone work. We offer on site removal stone debri as well. We gurantee strong, visually apealing stone work that will last. We work cleanly and promise a clean workzone and work finish. Call us today for your stone work needs!</p>
                    <h3 class="hdg hdg_3">Stone patio and driveway and walkway repair</h3>
                    <p>Do you need your masonry patio, driveway, and walkway repaired? Our team can restore the beauty of your stone patio, driveway, or walkway. Over time stone structures can fade, chip, and become unattractive. Great American Landscaping can usually restore the beauty of your stone patio, driveway or walkway without demolition. However, if we must destory old structures to replace them with new ones, we are prepared to do so. Call us today for masonry work!</p>
                    <div>
                        <strong>We build the following patio types:</strong>
                    </div>
                    <ul class="uList">
                        <li>Brick patios</li>
                        <li>Paver Stones</li>
                        <li>Retaining walls</li>
                        <li>Masonry Repair</li>
                        <li>Stone Work</li>
                    </ul>
                </div>
            </div>
            <div class="grid-col grid-col_aside">
                {{> _sidebar}}
            </div>
        </div>
    </div>
</div>