<!DOCTYPE html>
<html lang="en">
    <head>
        <meta  charset ="UTF-8"> 
        <title>{{title}}</title>
        <link rel="stylesheet" href="assets/css/screen.css">
    </head>
    <body>

    {{> body}}

    <script data-main="assets/scripts/main" src="assets/vendor/requirejs/require.js"></script>
    <script src="assets/scripts/config.js"></script>

    </body>
</html>