<!DOCTYPE html>
<html lang="en">
    <head>
        <meta  charset ="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>{{title}} | Great American Landscaping</title>
        <style>{{> _critical-css }}</style>
    </head>
    <body>

        {{> _icons}}

        <div class="page">

            <div class="page-hd">
                {{> _masthead}}
                {{> _nav}}
            </div>

            <div class="page-bd">
                {{> body}}
            </div>

            <div class="page-ft">
                {{> _footer}}
            </div>

        </div>
    
    </body>
</html>