//----------------------------------------------
// Variables
//----------------------------------------------

$PATH_TO_IMAGES: "../images/";

$SITE_WIDTH: "960px";

// Base styles
$BASE_FONT_SIZE: 16px;
$BASE_LINE_HEIGHT: 1.6;

// Fonts
$FONT_PRIMARY: "Arial, sans-serif";
$FONT_SECONDARY: "";
$FONT_SERIF: "";

// Colors
$COLOR_BRAND: "";
$COLOR_ACCENT: "";

// Breakpoints
$BP_SM: "560px";
$BP_MD: "768px";
$BP_LG: "960px";