//----------------------------------------------
// Variables
//----------------------------------------------

$PATH_TO_IMAGES: "../images/";

$SITE_WIDTH: 960;
$SITE_GUTTERS: 25;

// Base styles
$ROOT_FONT_SIZE: 16px;
$BASE_LINE_HEIGHT: 1.5;
$BASE_SPACING_UNIT: 5;
$BASE_FONT_WEIGHT: 400;

// Fonts
$FONT_PRIMARY: Helvetica, Arial;
$FONT_SECONDARY: "";
$FONT_SERIF: "";
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_BOLD: 600;

// Colors
$COLOR_PRIMARY: #dd0000;
$COLOR_SECONDARY: #33291f;
$COLOR_TERTIARY: #1d1711;

$COLOR_FAINT: #f1f1f1;

$COLOR_ERROR: lighten($COLOR_PRIMARY, 10%);

// Breakpoints
$BP_SM: 560px;
$BP_MD: 768px;
$BP_LG: 960px;